<?xml version="1.0"?>
<robot name="CollisionBlocks">

  <link name="tool_link">
    <visual>
      <origin xyz="0 0 0" rpy="-0 0 0"/>
      <geometry>
        <mesh filename="meshes/CollisionBlocks.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.6 0.6 0.6 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CollisionBlocks.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
</robot>